{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap_5.0.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/person.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block head %}{% endblock %}

</head>

<body class="bg-dark text-warning" style="
    /* background-image: url('{% static "processed_b2b4476d-e9c2-4d03-b47b-408128d0fa14_637a469cd46a6.png" %}'); */
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    ">
    <div class="cover-container d-flex w-100 h-100 p-3 mb-3 mx-auto flex-column text-center ">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">ITF Equatorial</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link text-warning" href="/admin">Admin</a>
                </nav>
            </div>
        </header>
        <hr />
    </div>

    {% block content %}
    {% endblock %}

    <br><br>
    </div>

</body>

</html>